<div class="mainDiv">
  <div class="characterList">
    <div class="character" *ngFor="let character of characters" (click)="select(character)"
         [class.selected]="character.id == currentCharacter.id">
      {{character.name}}
    </div>
  </div>
  <div class="characterEditor">
    <div class="topRow">
      <button (click)="newCharacter()">Create new</button>
      <button (click)="save()">Save</button>
      <button (click)="deleteCharacter()">Delete</button>
      <label>
        <input type="text" [(ngModel)]="currentCharacter.name">
      </label>
      <span *ngIf="currentCharacter.id >= 0">Editing id {{currentCharacter.id}}</span>
      <span *ngIf="currentCharacter.id < 0">Creating new character</span>
    </div>
    <div class="attributePane">
      <div *ngFor="let attr of characterAttributes">
        <label>
          {{attr.label}}:
          <input type="number" [(ngModel)]="currentCharacter[attr.attribute]">
        </label>
      </div>
      <div>
        <label>
          Armor Class:
          <input type="number" [ngModel]="currentCharacter.calculateArmorClass()" disabled>
        </label>
      </div>
      <div>
        <label>
          Touch:
          <input type="number" [ngModel]="currentCharacter.calculateTouch()" disabled>
        </label>
      </div>
      <div>
        <label>
          On the wrong foot:
          <input type="number" [ngModel]="currentCharacter.calculateWrongFoot()" disabled>
        </label>
      </div>
      <div>
        <label>
          Initiative:
          <input type="number" [ngModel]="currentCharacter.calculateInitiative()" disabled>
        </label>
      </div>
    </div>
  </div>
</div>
