<div class="mainDiv">
  <div class="weaponList">
    <div class="weapon" *ngFor="let weapon of weapons" (click)="select(weapon)"
         [class.selected]="weapon.id == currentWeapon.id">
      {{weapon.name}}
    </div>
  </div>
  <div class="weaponEditor">
    <div class="topRow">
      <button (click)="newWeapon()">Create new</button>
      <button (click)="save()">Save</button>
      <button (click)="deleteWeapon()">Delete</button>
      <label>
        <input type="text" [(ngModel)]="currentWeapon.name">
      </label>
      <span *ngIf="currentWeapon.id >= 0">Editing id {{currentWeapon.id}}</span>
      <span *ngIf="currentWeapon.id < 0">Creating new weapon</span>
    </div>
    <div class="attributePane">
      <app-editor-attribute label="Damage (small)" [(ngModel)]="currentWeapon.damageSmall"
                            type="dice"></app-editor-attribute>
      <app-editor-attribute label="Damage (medium)" [(ngModel)]="currentWeapon.damageMedium"
                            type="dice"></app-editor-attribute>
      <app-editor-attribute label="Crit Multiplier" [(ngModel)]="currentWeapon.critMultiplier"
                            type="number">x
      </app-editor-attribute>
      <app-editor-attribute label="Range" [(ngModel)]="currentWeapon.range"
                            type="number">m
      </app-editor-attribute>
      <app-editor-attribute label="Weight" [(ngModel)]="currentWeapon.weight"
                            type="number">Pfd.
      </app-editor-attribute>
      <app-editor-attribute label="Type" [(ngModel)]="currentWeapon.weaponType"
                            type="enum" [enumType]="weaponTypeEnum">{{currentWeapon.weaponType}}
      </app-editor-attribute>
    </div>
  </div>
</div>
