<div>
  <label [ngSwitch]="type">
    {{label}}:
    <input *ngSwitchCase="'number'" type="number" [(ngModel)]="value" [disabled]="disabled">
    <span *ngSwitchCase="'attribute'">
      <input type="number" [(ngModel)]="value" [disabled]="disabled"> {{formatSkillModifier(value)}}
    </span>
    <span *ngSwitchCase="'dice'">
      <input *ngIf="value" class="diceInput" type="number" [(ngModel)]="value.diceCount" [disabled]="disabled">
      <input *ngIf="value" class="diceInput" type="number" [(ngModel)]="value.faceCount" [disabled]="disabled">
      {{value?.diceCount}}d{{value?.faceCount}} = {{value?.diceCount}} - {{value?.diceCount * value?.faceCount}}
    </span>
    <select *ngSwitchCase="'enum'" [(ngModel)]="value">
      <option *ngFor="let e of enumValues" [ngValue]="e.value">{{e.label}}</option>
    </select>
    <ng-content></ng-content>
  </label>
</div>
