<div class="mainDiv">
  <div class="characterList">
    <div class="character" *ngFor="let character of characters" (click)="select(character)"
         [class.selected]="character.id == currentCharacter.id">
      {{character.name}}
    </div>
  </div>
  <div class="characterEditor">
    <div class="topRow">
      <button (click)="newCharacter()">Create new</button>
      <button (click)="save()">Save</button>
      <button (click)="deleteCharacter()">Delete</button>
      <label>
        <input type="text" [(ngModel)]="currentCharacter.name">
      </label>
      <span *ngIf="currentCharacter.id >= 0">Editing id {{currentCharacter.id}}</span>
      <span *ngIf="currentCharacter.id < 0">Creating new character</span>
    </div>
    <div class="attributePane">
      <app-editor-attribute label="Max Hitpoints" [(ngModel)]="currentCharacter.maxHitpoints">
      </app-editor-attribute>
      <app-editor-attribute label="Armor Bonus" [(ngModel)]="currentCharacter.armorBonus">
      </app-editor-attribute>
      <app-editor-attribute *ngFor="let attr of characterAttributes" [label]="attr.label"
                            [(ngModel)]="currentCharacter[attr.attribute]" type="attribute"></app-editor-attribute>
      <app-editor-attribute label="Armor Class" [ngModel]="currentCharacter.calculateArmorClass()" disabled="">
      </app-editor-attribute>
      <app-editor-attribute label="Touch" [ngModel]="currentCharacter.calculateTouch()" disabled>
      </app-editor-attribute>
      <app-editor-attribute label="On the wrong foot" [ngModel]="currentCharacter.calculateWrongFoot()" disabled>
      </app-editor-attribute>
      <app-editor-attribute label="Initiative" [ngModel]="currentCharacter.calculateInitiative()" disabled>
      </app-editor-attribute>
    </div>
  </div>
</div>
